{% extends "blog/base.html" %}
{% block content %}
<img style="width:100%;"src="https://geeliz-django-bucket2.s3.us-east-2.amazonaws.com/Superhero+Banner+2s.gif"> 
<article class="media content-section">
<div>
    <h1 style="padding:20px 0px;">
        ABOUT
    </h1>

    <p>
        Welcome to our superhero blog. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eleifend neque eget odio tempus cursus. Integer dapibus auctor lorem, nec vestibulum elit malesuada nec. Praesent sed tincidunt magna, non elementum est. Cras euismod egestas sem. Maecenas quis nibh sodales, pulvinar metus vitae, faucibus sapien. Maecenas venenatis gravida ante, sit amet tincidunt metus luctus ac. Suspendisse in pellentesque tortor. Vivamus iaculis pretium pretium. Nam ornare egestas volutpat. Vivamus quis erat imperdiet, facilisis augue eu, bibendum ex. Phasellus auctor aliquet elit eget vulputate. Pellentesque dignissim fringilla nulla nec porta. Maecenas faucibus, tellus dignissim sodales faucibus, lacus orci consequat velit, vitae vestibulum justo magna et purus. Aliquam viverra risus at arcu malesuada hendrerit. Suspendisse nec rhoncus augue, et varius enim. Pellentesque non dolor ac leo cursus tempor.
        <br><br>
        Ut ipsum leo, rutrum vitae condimentum ac, varius a urna. Morbi quis elit et orci maximus tempus non eu quam. Aenean at ante nibh. Nunc ac massa eros. Morbi eget hendrerit mi. Aenean blandit purus ac ex imperdiet, quis porta nisl mattis. Praesent vel leo nec enim imperdiet tincidunt.
        <br><br>
        Donec nec ultricies leo. Fusce vestibulum vehicula rutrum. Phasellus a sapien efficitur, tincidunt lectus quis, pharetra augue. Nunc posuere convallis tellus a imperdiet. Aenean a dolor nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed neque risus, accumsan ut suscipit nec, porta a sapien. Suspendisse lorem turpis, cursus placerat nibh at, scelerisque cursus enim. Vestibulum cursus felis non pharetra consequat. Sed suscipit augue eget turpis interdum, nec rutrum erat lacinia. Phasellus non ex vehicula tortor hendrerit vulputate. Ut tempus nulla elit, eget suscipit urna tincidunt vel. Etiam luctus eu nisi ut tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
        <br><br>
        Nulla justo mi, suscipit luctus lobortis eu, bibendum ut odio. Integer dapibus risus in nunc euismod mollis. Nunc finibus cursus erat, vitae condimentum nisi congue eu. Duis sollicitudin finibus nibh eget vestibulum. Vivamus vitae ligula id orci dapibus tempus non in massa. Fusce tristique tortor eu elit mollis, id sollicitudin nibh varius. Maecenas a elit malesuada, ullamcorper nisl eu, vestibulum nulla. Pellentesque quis lorem fringilla, accumsan massa et, rutrum risus. Integer volutpat vitae neque id sagittis. Fusce a nisi vestibulum, gravida lacus at, egestas erat. Nunc non orci eu magna commodo sollicitudin sed quis arcu. Aliquam magna quam, ultrices sit amet tincidunt at, fringilla maximus nisl. Vivamus sed ex diam. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
    </p>
    

</div>
</article>




{% endblock content %}